# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
brotlipy==0.7.0
certifi==2021.5.30
cycler==0.10.0
cytoolz==0.11.0
future==0.18.2
jsonpointer==2.1
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
mmcv==1.4.8
olefile==0.46
packaging==21.3
pandas==1.1.5
ptflops==0.6.8
pytz==2021.3
PyYAML==5.4.1
pyzmq==20.0.0
scikit-image==0.16.2
tabulate==0.8.7
torch==1.6.0
torchvision==0.7.0
yapf==0.32.0
cffi==1.14.6
chardet==3.04
cloudpickle==2.0.0
cryptography==35.0.0 
dask-core==2021.3.0
decorator==4.4.2
idna==2.10
imageio==2.9.0
imgaug==0.4.0
joblib==1.0.1
jsonpatch==1.28
kiwisolver==1.3.1
matplotlib==3.3.4
networkx==2.5.1
numpy==1.19.2
Pillow==8.3.1
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.4
PySocks==1.7.1
python-dateutil==2.8.2
PyWavelets==1.1.1
requests==2.25.0
scikit-learn==0.24.1
scipy==1.5.2
Shapely==1.7.1
six==1.16.0
threadpoolctl==2.2.0
toolz==0.11.2
tornado==6.1
urllib3==1.25.11
websocket-client==0.57.0
